
<!-- Sidebar -->
<div id="sidebar" class="4u">
	<section>
		<header>
		<h2>News</h2>
	</header>
<dl>
<dt style="font-weight: bold;font-size: 1.2em;">Articles accepted to SIGSPATIAL 2015 and ICADL 2015</dt>
<dd>
		<div>
			<ul>
				<li>M. Faheem and P. Senellart, <a href="http://pierre.senellart.com/publications/faheem2015adaptive.pdf">Adaptive Web Crawling through Structure-Based Link Classification</a>. In Proc. ICADL, Seoul, South Korea, December 2015.</li>
				<li>D. Montoya, S. Abiteboul, and P. Senellart, <a href="http://pierre.senellart.com/publications/montoya2015hupme.pdf">Hup-Me: Inferring and Reconciling a Timeline of User Activity with Smartphone and Personal Data</a>. In Proc. SIGSPATIAL, Seattle, USA, November 2015.</li>
			</ul>
		</div>
	<p class="date">2015-10-02</p>
</dd>
<dt style="font-weight: bold;font-size: 1.2em;">Full paper accepted at CIKM 2015</dt>
<dd>
		<div>
				Scalable Facility Location for Massive Graphs on Pregel-like Systems,
Kiran Garimella, Gianmarco De Francisci Morales, Aristides Gionis, Mauro Sozio.

			</div>
	<p class="date">2015-07-16</p>
</dd>
<dt style="font-weight: bold;font-size: 1.2em;">Paper accepted to RecSys'15</dt>
<dd>
		<div>
				J.B. Griesner, T. Abdessalem and H. Naacke. POI Recommendation: Towards Fused Matrix Factorization with Geographical and Temporal Influences.
			</div>
	<p class="date">2015-07-08</p>
</dd>
</dl>

	</section>

</div>
